.piano {
  position: relative;
  touch-action: manipulation;

  .piano-key {
    transform-origin: top center;
    transition: transform 0.1s ease;

    &:active, &.attack {
      transform: translate3d(0, 2px, 0);
    }

    &:focus-visible,
    &:focus {
      outline: none;
    }

    &.white-key {
      background: white;
      border: 2px solid #333;
      border-radius: 0 0 4px 4px;
      position: absolute;
      cursor: pointer;
      transition: all 0.1s ease;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      padding-bottom: 10px;
      font-size: 12px;
      font-weight: bold;
      color: #333;
      appearance: none;
    }

    &.black-key {
      background: #333;
      border: 1px solid #000;
      border-radius: 0 0 4px 4px;
      position: absolute;
      top: 0;
      cursor: pointer;
      transition: all 0.1s ease;
      z-index: 10;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      padding-bottom: 5px;
      font-size: 10px;
      font-weight: bold;
      color: white;
      appearance: none;
    }

    @media (hover: hover) {
      .piano-key:hover,
      .piano-key.white-key:hover,
      .piano-key.black-key:hover {
        background-color: #309be7;
      }
    }

    &.attack {
      background-color: #309be7;
    }
  }
}
